[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

*.user
*.userprefs
*.pidb
*.suo
*.sln.docstates
*.csproj
*.unityproj
*.sln

*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

.vs/
.vscode/
.idea/

*.apk
*.aab
*.unitypackage

MemoryCaptures/
Recordings/
ExportedObj/

Assets/AssetStoreTools*
